.opportunities{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    &__title-wrap{
        width: 100%;
        display: flex;
        justify-content: center;
        background: linear-gradient(180deg, #464069 0%, rgba(118, 107, 175, 0));
    }

    &__title{
        width: max-content;
        color: $dark-blue-color;
        margin-top: 37rem;
        margin-bottom: 3.5rem;
        font-family: $font-playfair;
        font-size: 5.555rem;
        line-height: 7.444rem;
        text-align: center;
        position: relative;

        &::before{
            content: '- Chris Grosser';
            position: absolute;
            right: 0;
            top: 4.5rem;
            font-size: 2.5rem;
        }
    }

    &__clients{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 9.555rem;

        // Clients left section
        &-left{
            display: flex;
            flex-direction: column;
            margin: 2rem 3rem 2rem 19rem;
            padding-top: 3rem;
        }

        &-title-text{
            position: relative;
            font-family: $font-popins;
            font-weight: 500;
            font-size: 2.666rem;
            line-height: 4rem;
            color: $our-mission-text-color;
            margin-bottom: 8rem;
            &::before{
                content: '';
                position: absolute;
                width: 10.555rem;
                height: 10.555rem;
                left: -5.777rem;
                bottom: -1.222rem;
                border: 1px solid #B8121A;
            }
            span{
                color: $dark-red-color;
            }
        }

        &-contact{
            table{
                caption{
                    font-family: $font-playfair;
                    font-weight: bold;
                    font-size: 2.222rem;
                    line-height: 3rem;
                    color: $dark-red-color;
                    text-align: left;
                    text-transform: uppercase;
                }
                
                tr{
                    .table__title{
                        width: 25.888rem;
                        font-family: $font-popins;
                        font-size: 2rem;
                        line-height: 3rem;
                        color: $our-mission-text-color;
                        
                    }
                    .table__subtitle{
                        width: 44.444rem;
                        font-family: $font-popins;
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 3rem;
                        color: $our-mission-text-color;
                        padding: 1.7rem 0rem;
                    }
                }
            }
        }

        &-biglogo-wrap{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 8rem;
            position: relative;
        }

        &-biglogo{
            display: flex;
            background: url('../img/LOGO-big.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 65rem;
            height: 27.444rem;
            transform: translate(-19.5rem);
        }

        &-biglogo-btn-wrap{
            display: flex;
            flex-direction: row;
            align-self: baseline;
            justify-content: start;
            width: 19.666rem;
            height: 8.888rem;
            border: 0.222rem solid $btn-red-color;
            transform: translate(-4rem);
            cursor: pointer;
            position: absolute;
            right: -4rem;
            button{
                background: #fff;
                height: max-content;
                font-family: Playfair Display;
                font-weight: bold;
                font-size: 2.444rem;
                line-height: 4rem;
                color: $dark-red-color;
                transform: translate(-4.5rem, 1.5rem);
                position: relative;

                .opportunities__clients-svg-arrow{
                    position: absolute;
                    width: 4.555rem;
                    height: 2rem;
                    left: 6rem;
                }
            }
        }

        &-medals{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 26.444rem;
            height: 29.424rem;
            background: url('../img/for-medal.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 66.5%;
                height: 86%;
                background: #050506;
                opacity: 0.5;
            }
            &::after{
                position: absolute;
                content: 'Offers \0a Veteran Discount';
                font-size: 0.8rem;
                font-weight: bold;
                white-space: pre;
                text-align: center;
                bottom: 1.7rem;
                right: 50%;
                transform: translate(50%);
            }
        }

        &-medals-sticks{
            position: absolute;
            width: 7.31px;
            height: 225.57px;
            background: linear-gradient(180deg, #AFA4A4 0%, #E1E1E1 48.96%, #AFA4A4 100%);
        }

        &-medals-stars{
            position: absolute;
            background: url('../img/star-small.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-medals-logomedal{
            width: 24.07rem;
            height: 18.03rem;
            background: url('../img/medal.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: translate(-0.1rem);
        }

        // Clients right section
        &-right{
            position: relative;
            margin: 2rem 3rem;
            &::before{
                content: '';
                position: absolute;
                background: url('../img/logo-star-1.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 7.423rem;
                height: 7.111rem;
                top: 4rem;
                right: 4rem;
            }
        }

        &-bigcircle{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 113.333rem;
            height: 113.333rem;
            border-radius: 50%;
            background: url('../img/big-star-bg-1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: blur(3.5px);
        }

        &-smallcircle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 86.888rem;
            height: 86.888rem;
            border: 7rem solid $gold-color;
            border-radius: 50%;
        }

        &-bigstar-wrap{
            position: absolute;
            top: 54%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 125.666rem;
            height: 125.666rem;
        }

        &-bigstar{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 123.666rem;
            height: 123.666rem;
            background: url('../img/big-star-bg-1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}



// // For medal sticks
.medals-sticks-one{
    left: 8.5rem;
}
.medals-sticks-two{
    left: 10.6rem;
}
.medals-sticks-three{
    left: 12.7rem;
}
.medals-sticks-four{
    left: 14.9rem;
}
.medals-sticks-fiwe{
    left: 17rem;
}

// For stars
.medals-stars-1{
    width: 1.83rem;
    height: 1.373rem;
    left: 4.5rem;
    top: 8rem;
}
.medals-stars-2{
    width: 2.562rem;
    height: 1.876rem;
    left: 4.3rem;
    top: 10rem;
}
.medals-stars-3{
    width: 2.995rem;
    height: 2.211rem;
    left: 4.5rem;
    top: 12rem;
}
.medals-stars-4{
    width: 3.386rem;
    height: 2.516rem;
    left: 5.5rem;
    top: 14rem;
}
.medals-stars-5{
    width: 3.797rem;
    height: 2.745rem;
    left: 8rem;
    top: 16rem;
}
.medals-stars-6{
    width: 4.255rem;
    height: 3.157rem;
    left: 11rem;
    top: 17rem;
}
.medals-stars-7{
    width: 5.765rem;
    height: 4.255rem;
    left: 14rem;
    top: 17.5rem;
}