section.opportunities
    .opportunities__title-wrap
        h2.opportunities__title|Opportunities don't happen. You create them
                                    //- br
                                    //- span|- Chris Grosser
    .opportunities__clients
        .opportunities__clients-left
            p.opportunities__clients-title-text|FEATURED CLIENTS 
                span|.
            .opportunities__clients-contact
                table
                    caption|Bert's Black Widow Harley-Davidson
                    tr
                        td(class="table__title")|Business category:
                        td(class="table__subtitle")|Auto/Motorcycles Sales
                    tr
                        td(class="table__title")|Address:
                        td(class="table__subtitle")|2224 El Jobean Road
                                                        br
                                                        |Port Charlotte, FL 33948
                    tr
                        td(class="table__title")|Business description:
                        td(class="table__subtitle")|We are here to bring the sweetest rides on two wheels, Harley-Davidson® motorcycles, to Port Charlotte, in Southwest Florida.
                    tr
                        td(class="table__title")|Contact:
                        td(class="table__subtitle")|(941) 883-8000
            .opportunities__clients-biglogo
            .opportunities__clients-medals

        .opportunities__clients-right
            .opportunities__clients-bigcircle
                //- .opportunities__clients-bigcircle-picture
            .opportunities__clients-smallcircle
                .opportunities__clients-bigstar-wrap.star
                    .opportunities__clients-bigstar.star