section.opportunities
    .opportunities__title-wrap
        h2.opportunities__title|Opportunities don't happen. You create them
    .opportunities__clients
        .opportunities__clients-left
            p.opportunities__clients-title-text|FEATURED CLIENTS 
                span|.
            .opportunities__clients-contact
                table
                    caption|Bert's Black Widow Harley-Davidson
                    tr
                        td(class="table__title")|Business category:
                        td(class="table__subtitle")|Auto/Motorcycles Sales
                    tr
                        td(class="table__title")|Address:
                        td(class="table__subtitle")|2224 El Jobean Road
                                                        br
                                                        |Port Charlotte, FL 33948
                    tr
                        td(class="table__title")|Business description:
                        td(class="table__subtitle")|We are here to bring the sweetest rides on two wheels, Harley-Davidson® motorcycles, to Port Charlotte, in Southwest Florida.
                    tr
                        td(class="table__title")|Contact:
                        td(class="table__subtitle")|(941) 883-8000
            .opportunities__clients-biglogo-wrap
                .opportunities__clients-biglogo
                .opportunities__clients-biglogo-btn-wrap
                    button.opportunities__clients-biglogo-btn|READ MORE
                        svg(class="opportunities__clients-svg-arrow" viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='#B8121A')

            .opportunities__clients-medals
                .opportunities__clients-medals-sticks.medals-sticks-one
                .opportunities__clients-medals-sticks.medals-sticks-two
                .opportunities__clients-medals-sticks.medals-sticks-three
                .opportunities__clients-medals-sticks.medals-sticks-four
                .opportunities__clients-medals-sticks.medals-sticks-fiwe
                .opportunities__clients-medals-logomedal
                .opportunities__clients-medals-stars.medals-stars-1
                .opportunities__clients-medals-stars.medals-stars-2
                .opportunities__clients-medals-stars.medals-stars-3
                .opportunities__clients-medals-stars.medals-stars-4
                .opportunities__clients-medals-stars.medals-stars-5
                .opportunities__clients-medals-stars.medals-stars-6
                .opportunities__clients-medals-stars.medals-stars-7

        .opportunities__clients-right
            .opportunities__clients-bigcircle
            .opportunities__clients-smallcircle
                .opportunities__clients-bigstar-wrap.star
                    .opportunities__clients-bigstar.star