.map{
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-height: 910px;

    &__image{
        display: flex;
        width: 100%;
        min-height: 99.5rem;
        background: url('../img/map.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // z-index: 0;
    }

    &__title-wrap{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        background: url('../img/backgroun-title-map.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        // height: 335px;
        transform: translateY(67%);
    }

    &__title{
        margin-top: 13.2rem;
        margin-bottom: 3.222rem;
        color: $gold-color;
        font-family: $font-playfair;
        font-style: normal;
        font-weight: bold;
        font-size: 5rem;
        line-height: 7.111rem;
        position: relative;
        z-index: 10;
        
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                right: -2rem;
                width: 14rem;
                height: 14rem;
                border: 0.111rem solid $base-bg-color;
                z-index: -1;
            }

        span{
            color: $white-text-color;
        }
    }
    
    &__btn-wrap{
        margin-bottom: 8.361rem;
    }

    &__star{

        &-wrap{
            display: flex;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &-one{
            position: absolute;
            left: 14.3rem;
            bottom: 3rem;
            width: 18.333rem;
            height: 18.333rem;
        }

        &-two{
            position: absolute;
            left: 22rem;
            bottom: -12.5rem;
            width: 10.777rem;
            height: 10.777rem;
        }

        &-three{
            position: absolute;
            left: 4rem;
            bottom: -2.8rem;
            width: 9.222rem;
            height: 9.222rem;
        }
    }
}