section.map
    .map__image
        .map__title-wrap
            h2.map__title|ADD YOUR BUSINESS TO THE MAP&nbsp;&nbsp;
                            span.map__title-rectangle|.
            .map__btn-wrap.white__btn-wrap
                button.map__btn|Join Now
            .map__star-wrap
                .map__star-one.star
                .map__star-two.star
                .map__star-three.star